opencv-python
diptest==0.6.1
transformers
diffusers
torchmetrics
matplotlib
scipy
plyfile
recordclass
scikit-image
accelerate==1.6.0
imageio
imageio-ffmpeg
numpy==1.26.4
einops
jaxtyping
omegaconf
typeguard